div(class='content-section-a', id='about')
	div(class='container')
		div(class='row')
			div(class='col-lg-5 col-sm-6')
				hr(class='section-heading-spacer')
				div(class='clearfix')
				h2(class='section-heading') About the movement
				p(class='lead') Project AWARE Foundation is a growing movement of scuba divers protecting the ocean planet – one dive at a time.
				p Over the past two decades of underwater conservation we’ve learned that divers are true leaders in ocean protection. We’re ocean heroes numbering in the millions across the globe. We believe together our actions will make a huge impact and will help to rescue the ocean.
				p With new programs and more online resources than ever before, Project AWARE supports an unprecedented global movement of divers acting in their own communities to protect oceans and implement lasting change.
				p We’re focusing in on two major ocean issues –Sharks in Peril and Marine Debris, or trash in our ocean. Truly, there are many conservation issues converging on our ocean planet at once, but we’re concentrating on these serious problems where scuba divers are uniquely positioned to directly and positively affect real, long-term change in these two areas.
			div(class='col-lg-5 col-lg-offset-2 col-sm-6')
				img(class='img-responsive', alt='', src='img/about.jpg')
