footer
	div(class='container')
		div(class='row')
			div(class='col-lg-12')
				ul(class='list-inline')
					li
						a(href='#page-top') Home
					li(class='footer-menu-divider') &sdot;
					li
						a(href='#about') About
					li(class='footer-menu-divider') &sdot;
					li
						a(href='#services') Services
					li(class='footer-menu-divider') &sdot;
					li
						a(href='#contact') Contact
				p(class='copyright text-muted small') Copyright &copy; Očistimo morje 2014. All Rights Reserved
