footer
	div(class='container')
		div(class='row')
			div(class='col-lg-12')
				ul(class='list-inline')
					li(class='page-scroll')
						a(href='#header') Domov
					li(class='footer-menu-divider') &sdot;
					li(class='page-scroll')
						a(href='#about') O iniciativi
					li(class='footer-menu-divider') &sdot;
					li(class='page-scroll')
						a(href='#when') Kdaj / Kje
					li(class='footer-menu-divider') &sdot;
					li(class='page-scroll')
						a(href='#partners') Partnerji / Sponzorji
					li(class='footer-menu-divider') &sdot;
					li(class='page-scroll')
						a(href='#contact') Kontakt
					li(class='footer-menu-divider') &sdot;
					li(class='page-scroll')
						a(href='#enroll') Prijava
				p(class='copyright text-muted small') Copyright &copy; Očistimo morje 2014. All Rights Reserved
