div(class='content-section-a', id='how')
	div(class='container')
		div(class='row')
			div(class='col-lg-5 col-sm-6')
				hr(class='section-heading-spacer')
				div(class='clearfix')
				h2(class='section-heading') POTEK DOGODKA
				p(class='lead') Potapljači bomo čistili pod vodo, tako da se bomo razdelili v skupine potapljačev + vodja potopa. Vsaka skupina bo imela svojo bojo in bo počistila smeti poletne sezone na točno določenem akvatoriju.
				p Vsi tisti, ki nimate lastne potapljaške opreme, si lahko opremo brezplačno izposodite v potapljaškem centru.
				p Nepotapljači se bomo podali peš od marine Bernardin do skladišča soli v Portorožu in s skupnimi močmi očistili košček naše obale.
				p Za potrebe akcije je DIVESTRONG d.o.o. nabavil vreče za krompir (potapljači) in navadne vreče za smeti (nepotapljači).
				p Na dan akcije bomo pobirali smeti pod vodo in smeti nad vodo.
				p Zbrane odpadke bomo odložili v posebej naročene zabojnike.
				p Sodelujoči na čistilni akciji bodo prejeli spominsko majčko in diplomo.
				p Za hrano in pijačo bo poskrbljeno!
				p Ob tej priložnosti se želimo zahvaliti vsem tistim, ki jim ni vseeno v kakšnem okolju se potapljamo, in se bodo čistilni akciji pridružili.
			div(class='col-lg-5 col-lg-offset-2 col-sm-6')
				img(class='img-responsive', alt='', src='img/how.jpg')
