div(class='content-section-a', id='invitation')
	div(class='container')
		div(class='row')
			div(class='col-lg-5 col-sm-6')
				hr(class='section-heading-spacer')
				div(class='clearfix')
				h2(class='section-heading') OČISTIMO MORJE 2014
				p(class='lead') Vabimo te na tradicionalno potapljaško čistilno akcijo project AWARE - Bernardin.
				p Zbor potapljačev bo 20.09.2014 ob 10.00 uri na bernardinski plaži.
				p Več informacij o akciji najdete na <a href="http://www.ocistimomorje.si">www.ocistimomorje.si</a> ali na telefonski številki 051/228-214
				p Prijave sprejemamo na <a href="mailto:info@divestrong.si">info@divestrong.si</a>
			div(class='col-lg-5 col-lg-offset-2 col-sm-6')
				img(class='img-responsive', alt='', src='img/about.jpg')
