nav(class='navbar navbar-default navbar-fixed-top', role='navigation')
	div(class='container')
		div(class='navbar-header page-scroll')
			button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#navbar-collapse')
				span(class='sr-only') Toggle navigation
				span(class='icon-bar')
				span(class='icon-bar')
				span(class='icon-bar')
			a(class='navbar-brand', href='#page-top')= title
		div(class='collapse navbar-collapse', id='navbar-collapse')
			ul(class='nav navbar-nav navbar-right')
				li(class='page-scroll')
					a(href='#about') O iniciativi
				li(class='page-scroll')
					a(href='#when') Kdaj / Kje
				li(class='page-scroll')
					a(href='#partners') Partnerji / Sponzorji
				li(class='page-scroll')
					a(href='#contact') Kontakt
				li(class='page-scroll')
					a(href='#enroll') Prijava
