div(class='partners-modal modal fade', id='partnersModal1', tabindex='-1', role='dialog', aria-hidden='true')
	div(class='modal-content')
		div(class='close-modal', data-dismiss='modal')
			div(class='lr')
				div(class='rl')
		div(class='container')
			div(class='row')
				div(class='col-lg-8 col-lg-offset-2')
					div(class='modal-body')
						h2 Partner 1
						hr(class='section-heading-spacer')
						img(class='img-responsive img-centered', alt='', src='/freelancer/img/portfolio/cabin.png')
						p Neki ful podatki o prvem partnerju... oblikovani ali ne, who cares
						ul(class='list-inline item-details')
							li
								a(href='http://divestrong.si') Spletna stran
							li
								a(href='mailto:test@example.com') Elektronska pošta
						button(type='button', class='btn btn-default', data-dismiss='modal')
							i(class='fa fa-times') &nbsp;Zapri
