div(class='content-section-a', id='partners')
	div(class='container')
		div(class='row')
			div(class='col-lg-5 col-sm-6')
				hr(class='section-heading-spacer')
				div(class='clearfix')
				h2(class='section-heading') Partnerji in Sponzorji
				p(class='lead') Posebej se naj zahvalimo našim partnerjem in seveda sponzorjem, ...
			div(class='col-lg-5 col-lg-offset-2 col-sm-6')
				div(class='row')
					div(class='col-sm-4 partners-item')
						a(href='#partnersModal1', class='partners-link', data-toggle='modal')
							div(class='caption')
								div(class='caption-content')
									i(class='fa fa-search-plus fa-3x')
							img(src='/freelancer/img/portfolio/cabin.png', alt='', class='img-responsive')
					div(class='col-sm-4 partners-item')
						a(href='#partnersModal2', class='partners-link', data-toggle='modal')
							div(class='caption')
								div(class='caption-content')
									i(class='fa fa-search-plus fa-3x')
							img(src='/freelancer/img/portfolio/cake.png', alt='', class='img-responsive')
					div(class='col-sm-4 partners-item')
						a(href='#partnersModal3', class='partners-link', data-toggle='modal')
							div(class='caption')
								div(class='caption-content')
									i(class='fa fa-search-plus fa-3x')
							img(src='/freelancer/img/portfolio/circus.png', alt='', class='img-responsive')
					div(class='col-sm-4 partners-item')
						a(href='#partnersModal4', class='partners-link', data-toggle='modal')
							div(class='caption')
								div(class='caption-content')
									i(class='fa fa-search-plus fa-3x')
							img(src='/freelancer/img/portfolio/game.png', alt='', class='img-responsive')
					div(class='col-sm-4 partners-item')
						a(href='#partnersModal5', class='partners-link', data-toggle='modal')
							div(class='caption')
								div(class='caption-content')
									i(class='fa fa-search-plus fa-3x')
							img(src='/freelancer/img/portfolio/safe.png', alt='', class='img-responsive')
					div(class='col-sm-4 partners-item')
						a(href='#partnersModal6', class='partners-link', data-toggle='modal')
							div(class='caption')
								div(class='caption-content')
									i(class='fa fa-search-plus fa-3x')
							img(src='/freelancer/img/portfolio/submarine.png', alt='', class='img-responsive')
