div(class='content-section-b', id='when')
	div(class='container')
		div(class='row')
			div(class='col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6')
				hr(class='section-heading-spacer')
				div(class='clearfix')
				h2(class='section-heading') Kdaj / Kje bo naslednji dogodek?
				p(class='lead') Dne 20.9.2014 bomo v potapljaškem centru <strong>DC DIVESTRONG BERNARDIN</strong> organizirali čistilno akcijo <a href="http://ocistimomorje.si">OČISTIMOMORJE.SI</a>, ki bo potekala v sklopu svetovne čistilne akcije »Project AWARE 2014«.
				p Na akciji bomo sodelovali potapljači prostovoljci ter različna potapljaška in nepotapljaška društva.
				p Čistilna akcija bo potekala od marine BERNARDIN do skladišča soli v Portorožu.
				p Na čistilno akcijo se lahko prijavijo potapljači ali nepotapljači – vsaka roka prav pride.
			div(class='col-lg-5 col-sm-pull-6 col-sm-6')
				img(class='img-responsive', alt='', src='img/when.jpg')
